.jumbotron {
  margin-bottom: 0em;
  padding-bottom: 0em;
}

#note {
  width: 80%;
  margin: 0 auto;
  font-size: x-small;
}

.btn,
#searchFormInput,
#searchButton {
  margin: 0 auto;
  margin-top: 10px;
  width: 80%;
}

.forecast-day {
  float: left;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
}
